*.txt
*.exe
*.cache
.vs/
src/bin/
src/obj/
src/obj/Debug/net5.0/
src/Content/bin/
src/Content/obj/

src/obj/Debug/net5.0/BrickGame.csprojAssemblyReference.cache
*.cache
*.cache
src/obj/Debug/net5.0/BrickGame.csprojAssemblyReference.cache
